/* HELPERS */
.modal-backdrop{
  position: relative !important;
 z-index: 1050;
  top: 1 !important;
  font-family: $fuente;
  font-size: 3rem !important;
  opacity: 1.2 !important;
}
.pos-abs{
  position:absolute;
}
.pos-rel{
  position: relative;
}
.color-n {
  color: var($secundario);
}
.centrar-txt {
  text-align: center;
  color: var($secundario);
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
}

@mixin tamañoImg ($width,$height){
  height: $height;
  width: $width;
}

.container_img{
  @include tamañoImg(300px,200px );
}
.container_img2{
  @include tamañoImg(300px,200px );
}
.container_img3{
  @include tamañoImg(300px,200px );
}
