$fuente: "Bebas Neue", cursive;
$color: white;
$secundario: black;

// $redes:(
//   twitter:blue,
//   insta:pink,
//   wpp:red,
//   );
  
//   @each $social ,$color in $redes {
//     .btn--#{$social}{
//       background-color: $color;
//     }
//   }
