header{
  .submenu {
    position: relative;
  }
  
  .submenu #carrito{
    display: none;
    
  }
  .submenu:hover #carrito{
    font-family: $fuente;
    font-size: 3rem;
    
    display: block;
    position: absolute;
    right:0;
  
    top:100%;
    z-index: 1;
    background-color: #3c7209;
    padding: 10px;
    min-height: 450px;
    min-width: 300px;
  } 
}

main{
    .container{
        // display: flex;
        // flex-direction: column;
        &_aside2 {
            min-width: 10%;
            margin-top: 4rem;
            margin-bottom: 1px;
            margin-left: 1px;
            margin-right: 20px;
            padding-right: 2px;
            /* margin: 40px 20px 20px 0; */
            height: 2%;
            background-color: var(--secundario);
            padding: 2rem;
            border-radius: 10px;
            position: sticky;
            top:0 rem;
            font-size: 7rem;
              
        }
        &_h3{
            color: var(--color);
            font-family: var(--fuente);
            font-size: 5rem;
        }
        &_canchas_boton {
            display: block;
            font-family: var(--fuente);
            color: var(--color);
            text-align: center;
            padding: 2rem 5rem;
            font-size: 3rem;
            text-transform: uppercase;
            background-color: black;
            margin-bottom: 2rem;
            border: none;
            text-decoration: none;
            align-items: center;
            &:hover {
                color: var(--secundario);
                background-color: #3c7209;
                transition: 0.4s ease-out all;
              }  
        }
     .contenedor_tienda_pelotas{
       display: grid;
       grid-template-columns: repeat(3,1fr);
     }
        .container_tienda{

         .container_tienda_pelotas {
            display: grid;    
            // display: flex;
                 grid-template-columns: repeat(3, 1fr); 
                // flex-direction: row;
                // margin-left: 0rem;
                // align-items: center;
              }
            // &_botines {
            //     // display: flex;
            //      grid-template-columns: repeat(1, 1fr); 
            //     // flex-direction: column;
            //   }

            .container_imgs  {
 width:300px !important;
 height: 300px !important;
            }
        }
    }
}
@media only screen and (min-width: 1250px) and (max-width: 1980px) {
  .container_cancha {
     max-width: 100% !important; 
    margin-left: 20rem !important;
}
}
@media only screen and (min-width: 561px) and (max-width: 699px) {
  .container_tienda_pelotas{
    margin-left: 15rem !important;
  }
}
@media only screen and (min-width: 462px) and (max-width: 560px) {
  .container_tienda_pelotas{
    margin-left: 10rem !important;
  }
}
@media only screen and (min-width: 430px) and (max-width: 460px) {
  .container_tienda_pelotas{
    margin-left: 5rem !important;
  }
}

@media   (max-width: 1075px) {
 main{
  .container{ margin-left: 5rem;
    display: flex;
    flex-direction: column;
    //   #aside2 {
    //     min-width: 2%;
    //     margin-top: 0;
    //     margin-bottom: 1px;
    //     margin-left: 1px;
    //     margin-right: 20px;
    //     padding-right: 2px;
    //     /* margin: 40px 20px 20px 0; */
    //     height: 2%;
    //     background-color: var(--secundario);
    //     padding: 2rem;
    //     border-radius: 10px;
    //     position: sticky;
    //     top: rem;
    //     font-size: 7rem;
    //     width: 2102312p;
    // }
    #aside2{display: none;}
    .container_tienda_pelotas {
       
        display: grid;
        grid-template-columns:repeat (1, 1fr); 
   
      // margin-left: -12rem;
    }
    .container_tienda_botines {
     display: none;  
    }
    div .contenedor_tienda_grid img {
      width: 70px;
      height: 80px;
    }
    .container_h3 {
      color: var(--color);
      font-family: var(--fuente);
      font-size: 5rem;
    }
  } 
  
 }
  
    
}

@media   (min-width: 700px) {
  
  main{
    .container{
        // display: flex;
        // flex-direction: column;
        &_aside2 {
            min-width: 10%;
            margin-top: 4rem;
            margin-bottom: 1px;
            margin-left: 1px;
            margin-right: 20px;
            padding-right: 2px;
            /* margin: 40px 20px 20px 0; */
            height: 2%;
            background-color: var(--secundario);
            padding: 2rem;
            border-radius: 10px;
            position: sticky;
            top:0 rem;
            font-size: 7rem;
              
        }
        &_h3{
            color: var(--color);
            font-family: var(--fuente);
            font-size: 5rem;
        }
        &_canchas_boton {
            display: block;
            font-family: var(--fuente);
            color: var(--color);
            text-align: center;
            padding: 2rem 5rem;
            font-size: 3rem;
            text-transform: uppercase;
            background-color: black;
            margin-bottom: 2rem;
            border: none;
            text-decoration: none;
            align-items: center;
            margin:0%;
            &:hover {
                color: var(--secundario);
                background-color: #3c7209;
                transition: 0.4s ease-out all;
              }  
        }
     
        .container_tienda{

         .container_tienda_pelotas {
          margin-left: -10rem;  
          display: grid;    
            // display: flex;
                //  grid-template-columns: repeat(2, 1fr); 
                // flex-direction: row;
                // margin-left: 0rem;
                // align-items: center;
              }
            // &_botines {
            //     // display: flex;
            //      grid-template-columns: repeat(1, 1fr); 
            //     // flex-direction: column;
            //   }
        }
    }
}

  
  // main{
  //  .container{ margin-left: 10rem;
  //    display: flex;
  //    flex-direction: column;
  //    //   #aside2 {
  //    //     min-width: 2%;
  //    //     margin-top: 0;
  //    //     margin-bottom: 1px;
  //    //     margin-left: 1px;
  //    //     margin-right: 20px;
  //    //     padding-right: 2px;
  //    //     /* margin: 40px 20px 20px 0; */
  //    //     height: 2%;
  //    //     background-color: var(--secundario);
  //    //     padding: 2rem;
  //    //     border-radius: 10px;
  //    //     position: sticky;
  //    //     top: rem;
  //    //     font-size: 7rem;
  //    //     width: 2102312p;
  //    // }
  //    #aside2{display: none;}
  //    .container_tienda_pelotas {
  //       display: flex;
  //       flex-direction: column;
  //       //  display: grid;
  //       //  grid-template-rows:repeat (1, 1fr); 
         
    
  //      // margin-left: -12rem;
  //    }
  //    .container_tienda_producto{
       
  //    }
  //    .container_tienda_botines {
  //     display: none;  
  //    }
  //    div .contenedor_tienda_grid img {
  //      width: 70px;
  //      height: 80px;
  //    }
  //    .container_h3 {
  //      color: var(--color);
  //      font-family: var(--fuente);
  //      font-size: 5rem;
  //    }
  //  } 
   
  // }
   


     
 }